/* Evitar el zoom al interactuar con los campos */
input, select {
    font-size: 16px; /* Asegúrate de que la fuente no sea demasiado pequeña */
}

/* Estilo para el formulario */
#tax-calculator {
    max-width: 500px; /* Aumento un poco el tamaño */
    margin: 20px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

/* Borde más oscuro de los campos */
#tax-calculator input, #tax-calculator select, #tax-calculator button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc; /* Gris más oscuro */
    border-radius: 5px;
    font-size: 14px;
}

/* Cambiar el color del botón */
#tax-calculator button {
    background: #266ea1;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

/* Hover del botón */
#tax-calculator button:hover {
    background: #005bb5;
}

/* Estilo para las opciones del select */
#tax-calculator select {
    color: black; /* Cambia el color del texto de las opciones a negro */
}

/* Estilo de la cabecera */
h1 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilo para el footer */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f1f1f1;
    color: #333;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}

footer p {
    margin: 0;
}
